<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property name="LOGS_ABSOLUTE_PATH" value="./logs" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %c{2} - %m%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="console" />
    </root>
</configuration>